<div class="@DivCssClass">
    <input id="@Id" type="checkbox" name="@Id" class="switch @MainCssClass" @bind="Value"/>
    <label for="@Id" class="@LabelCssClass">@(Value ? OnLabel : OffLabel)</label>
</div>